.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// Custom Styles

body {
  height: 100vh;
}

.App-first {
  height: 50vh;
}

.App-first h1 {
  font-size: 45px;
  padding-top: 100px;
  font-weight: normal;
}

.App-first p {
  color: grey;
  padding-bottom: 70px;
}

.App-first button {
  font-size: 15px;
  padding: 10px 28px;
  outline: none;
  border-color: transparent;
  background-color: #7986cb;
  color: white;
}

.App-first button a {
  text-decoration: none;
  color: white;
}

.App-second {
  height: 50vh;
  background-color: #7986cb;
}

.App-sub-second {
  width: 30%;
  display: inline-block;
  color: white;
  margin-top: 130px;
  vertical-align: top;
}

.App-sub-second img {
  width: 100px;
  height: 100px;
}

.App-sub-second + .App-sub-second {
  /* margin-left: 40px; */
}

.coin-setup {
  text-align: center;
}

.coin-setup > div {
  text-align: left;
  padding: 40px 40px;
  width: 60%;
  margin: auto;
  background-color: #7986cb; 
  color: white;
  border-radius: 6px;
}

.coin-setup h2 {
  text-align: center;
  font-size: 45px;
  padding-top: 60px;
  font-weight: normal;
}

.coin-setup button {
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
  padding: 10px 60px;
  outline: none;
  border-color: transparent;
  background-color: #7986cb;
  color: white;
}

.gov p {
  display: inline-block;
}

.gov > div {
  float: right;
  width: 75%!important;
  color: white!important;
}

.equity-percentage {
  float: right;
}

.public-equity > div > div {
  margin-bottom: 15px!important;
}

.input-text > div {
  color: white!important;
}

input {
  color: white!important;
}

select {
  color: white!important;
}

.user {
  padding: 5vh 10vw 5vh 10vw; 
}

.user-top {
  float: right;
}

/* .user-input {
  margin-left: 40px;
} */

.user-input-box h2 {
  margin-top: 160px;
}

.user-input {
  width: 49%;
  height: 100px;
  vertical-align: middle;
  display: inline-block;
  /* border: 1px solid #dedede; */
  /* background-color: #7986cb; */
  padding-top: 20px;
  margin-top: 10px;
  color: #707070!important;
}

.input1 {
  font-size: 16px;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  outline: none;
  color: #707070!important;
}

.input2 {
  font-size: 16px;
  padding: 10px;
  width: 60px;
  border-radius: 4px;
  margin-left: 10px;
  outline: none;
  color: #707070!important;
}

.user-input button {
  font-size: 15px;
  padding: 10px 28px;
  outline: none;
  border-color: transparent;
  background-color: #7986cb;
  color: white;
  margin-left: 20px;
}

.user-input-res {
  width: 50%;
  vertical-align: top;
  display: inline-block;
  border: 1px solid #dedede;
  /* background-color: #7986cb; */
}

.queue {
  margin-top: 50px;
}

.queue-table {
  border: 1px solid #dedede;
}

.top-bar {
  height: 50px;
  color: white;
  background-color: #7986cb;
  padding-top: 5px;
  padding-left: 10px;
}

.public-coin {
  display: inline-block;
  width: 50%;
  margin-top: 100px;
  margin-left: 50px;
  vertical-align: top;
}

.equity-ratios {
  display: inline-block;
  width: 40%;
  margin-top: 100px;
  margin-left: 30px;
  vertical-align: top;
}

.details {
  border: 10px solid #7986cb;
  padding: 10px;
}

.equity-details {
  border: 10px solid #c6c6c6;
  padding: 10px;
}

.the-value {
  float: right;
  color: grey;
}

.details div {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  padding-top: 10px;
}

.equity-details div {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  padding-top: 10px;
}

.in-buttons {
  background-color: #7986cb; 
}

.in-button {
  background-color: #c6c6c6; 
}

.in-buttons button {
  padding: 8px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: white!important;
}

.in-button button {
  padding: 8px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: white!important;
}

.out-buttons button {
  font-size: 16px;
  outline: none;
  border-color: transparent;
  padding: 8px 15px;
  margin-left: 60px;
  margin-top: 30px;
  background-color: #7986cb;
  color: white;
}

.last-one {
  float: right;
  margin-right: 10px;
}